.container {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 140vw;
  background-color: #fff;
  background-image: url('../assets/home-background-cloudy.jpeg');
  background-size: auto 120%;
  background-repeat: repeat-x;
}

.cloud {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

.cloud-img {
  position: absolute;
}

.cloud1 {
  top: 50%;
  right: 35%;
  width: 230px;
  animation: cloudMove1 10s linear infinite alternate;
  z-index: 1;
}

.cloud2 {
  top: 10%;
  left: 15%;
  width: 150px;
  animation: cloudMove2 40s linear infinite alternate-reverse;
}

.cloud3 {
  top: 45%;
  right: 55%;
  width: 230px;
  animation: cloudMove3 30s linear infinite alternate;
  z-index: 1;
}

.cloud4 {
  top: 15%;
  right: 10%;
  width: 180px;
  animation: cloudMove4 60s linear infinite alternate-reverse;
}

.cloud5 {
  top: 50%;
  right: 50%;
  width: 230px;
  animation: cloudMove5 10s linear infinite alternate;
  z-index: 2;
}

.cloud6 {
  top: 31%;
  right: 45%;
  width: 80px;
  animation: cloudMove6 10s linear infinite alternate-reverse;
}

@keyframes cloudMove1 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudMove2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-70px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudMove3 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudMove4 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudMove5 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudMove6 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
  }
}


.background {
  position: fixed; /* 전체 화면 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 초기 배경색은 투명 */
  z-index: 1; /* 원 뒤에 배치 */
  transition: background-color 1s ease; /* 배경색 변화에 transition 추가 */
}

.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circle-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  animation: fadeInOut 2s ease infinite;
}

.animated-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, #B2FBFF, #F8FFDD, #FFEB50, #F9DB0F, #FFEB50, #F8FFDD, #B2FBFF);
  background-size: 300% 100%;
  animation: gradientMove 3s linear infinite alternate;
  border: 5px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

@keyframes fadeInOut {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 80%;
  }

  100% {
    opacity: 60%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fede-in 4s ease fade-out 4s ease infinite;
}

.message img {
  width: 30%;
  height: auto;
  border-radius: 50%; 
  border: 5px solid rgba(255, 255, 255, 1);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}